@font-face {
    font-family: "SegoeUI";
    src: url("../fonts/SegoeUI.eot");
    src: local("☺"), url("../fonts/SegoeUI.woff") format("woff"),
        url("../fonts/SegoeUI.ttf") format("truetype"),
        url("../fonts/SegoeUI.svg") format("svg");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "SegoeUI-Bold";
    src: url("../fonts/SegoeUI-Bold.eot");
    src: local("☺"), url("../fonts/SegoeUI-Bold.woff") format("woff"),
        url("../fonts/SegoeUI-Bold.ttf") format("truetype"),
        url("../fonts/SegoeUI-Bold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "SegoeUI-Light";
    src: url("../fonts/SegoeUI-Light.eot");
    src: local("☺"), url("../fonts/SegoeUI-Light.woff") format("woff"),
        url("../fonts/SegoeUI-Light.ttf") format("truetype"),
        url("../fonts/SegoeUI-Light.svg") format("svg");
    font-weight: 300;
    font-style: normal;
}
:root {
    --primary-text-color: #ffffff;
    --secondary-text-color: #4e4e4e;
    --dim-text-color: #d1d1d1;
    --hover-text-color: #01dcc3;
    --secondary-hover-color: #009091;
}
body {
    font-family: "SegoeUI";
    margin: 0;
    background: #c9d6ff;
    background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}
.site-header {
    background-image: url("../img/bggirl.jpg");
    width: 1200px;
    height: 674px;
    margin: 0 auto;
}
.menu-container {
    display: flex;
    height: 64px;
    background-color: rgb(0, 0, 0, 0.5);
    align-items: center;
}
.nav-menu {
    padding: 0;
    display: flex;
    list-style: none;
    margin-left: 510px;
}
.nav-menu li:not(:last-child) {
    margin-right: 39px;
}

.nav-menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-text-color);
    font-size: 14px;
    padding: 23px 0;
    transition: color 200ms linear;
    font-weight: normal;
}
.nav-menu a:hover,
.nav-menu a:focus {
    color: var(--hover-text-color);
}
.site-logo {
    height: 59px;
    margin-left: 30px;
}
.logo-text-area {
    box-sizing: border-box;
    display: flex;
    height: 212px;
    background-color: rgb(0, 0, 0, 0.5);
    margin-top: 385px;
}
.text-area {
    padding: 31px;
    position: relative;
}
.text-area::before,
.text-area h1::before {
    position: absolute;
    height: 192px;
    width: 6px;.
    
    display: block;
    background-repeat: no-repeat; 
}
.text-area::before {
    content: "";
    top: 11px;
    left: 6px;
    background-image: url(../img/vertical-line.svg);
}
.text-area h1::before {
    content: "";
    top: 30px;
    left: 18px;
    background-image: url(../img/line.svg);
}
.text-area h1 {
    display: block;
    color: var(--hover-text-color);
    font-weight: 400;
    font-size: 22px;
}
.text-area p {
    width: 675px;
    height: 109px;
    display: inline-block;
    color: var(--primary-text-color);
    font-size: 18px;
}
.site-logo-secondary {
    padding: 40px;
    margin-left: 250px;
}

/* ------SECTION-SERVICES-------- */
.services {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
    background-color: #fff;
}
.services-title {
    display: inline-block;
    padding: 100px 535px 37px 500px;
    font-size: 42px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    color: var(--secondary-text-color);
}
.services-list {
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    /* flex-flow: row; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.services-list ul {
}
.services-list li {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
    width: 372px;
    height: 80px;
    margin-bottom: 77px;
    color: var(--secondary-text-color);
    transition: color 300ms linear;
}

.services-list li:hover {
    color: var(--secondary-hover-color);
}
.services-list img {
    flex-shrink: 0;
    width: 84px;
    height: 84px;
    margin-right: 64px;
}

/* -------------SECTION-FACTS--------- */

.facts {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 200px;
    background-color: #fff;
}
.facts h2 {
    padding: 0px 430px 32px 540px;
    font-size: 42px;
    font-weight: 700;
    line-height: 56px;
    color: var(--dim-text-color);
}
.facts ul {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}
.facts li {
    font-size: 64px;
    line-height: 86px;
    text-align: center;
    font-weight: 700;
    color: var(--primary-text-color);
}
.facts-first,
.facts-second,
.facts-third,
.facts-fourth {
    display: block;
    width: 262px;
    height: 88px;
    transition: background 500ms linear;
    box-sizing: border-box;
}
.facts-first {
    background: rgba(1, 223, 190, 0.1);
    border: 1px solid #01dfbe;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.25);
}
.facts-second {
    background: rgba(242, 102, 3, 0.1);
    border: 1px solid #f26603;
}
.facts-third {
    background: rgba(1, 175, 223, 0.1);
    border: 1px solid #01afdf;
}
.facts-fourth {
    background: rgba(255, 122, 194, 0.1);
    border: 1px solid #ff7ac2;
}
.facts-first:hover,
.facts-first:focus {
    background: rgba(1, 223, 190, 0.8);
}
.facts-second:hover,
.facts-second:focus {
    background: rgba(242, 102, 2, 0.8);
}
.facts-third:hover,
.facts-third:focus {
    background: rgba(1, 175, 223, 0.8);
}
.facts-fourth:hover,
.facts-fourth:focus {
    background: rgba(255, 122, 194, 0.8);
}
.facts-list p {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}
.facts-first-text::before,
.facts-second-text::before,
.facts-third-text::before,
.facts-fourth-text::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}
.facts-first-text::before {
    background-image: url(../img/triangle1.svg);
}
.facts-second-text::before {
    background-image: url(../img/triangle2.svg);
}
.facts-third-text::before {
    background-image: url(../img/triangle3.svg);
}
.facts-fourth-text::before {
    background-image: url(../img/triangle4.svg);
}

/* ---------------SECTION-WORKFLOW-------- */
.workflow {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}
.workflow-title {
    font-size: 42px;
    font-weight: 700;
    line-height: 56px;
    color: var(--secondary-text-color);
    padding: 0px 310px 85px 370px;
}
.workflow-list {
    align-content: space-between;
    margin: 0 auto;
    width: 1140px;
    height: 191px;
    display: flex;
    color: var(--secondary-text-color);
    padding: 34px 67px 45px 67px;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #fcfcfc;
    border: 1px dashed #c1c0c0;
    box-sizing: border-box;
}
.workflow-list li {
    width: 205px;
}
.workflow-list li:not(:nth-child(3n)) {
    margin-right: 150px;
}
.workflow-list li:hover {
    color: var(--secondary-hover-color);
}
.workflow-list img {
    margin-right: 27px;
}
/* --------------------------SECTION-PROJECTS--------------- */
.projects {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding-bottom: 100px;
}
.projects-title {
    font-size: 42px;
    font-weight: 700;
    line-height: 56px;
    color: var(--secondary-text-color);
    padding: 100px 412px 42px 427px;
}
.projects-list {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    color: var(--primary-text-color);
}
.projects-list li:not(:last-child) {
    margin-right: 78px;
}
.projects-list p {
    margin: 0;
    padding: 27px 47px 24px 47px;
}
.projects-list .second-card-bg-btm p {
    padding: 17px 47px 12px 47px;
}
.projects-list .third-card-bg-btm p {
    padding: 17px 47px 12px 47px;
}
.projects-card-first {
    width: 316px;
    height: 415px;
}
.first-card-bg,
.second-card-bg,
.third-card-bg {
    width: 316px;
    height: 248px;
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.second-card-bg {
    background: #d05e24;
}

.third-card-bg {
    background: #03689e;
}

.first-card-bg {
    background: #02b4b5;
}

.first-card-bg img {
    position: absolute;
    top: -59px;
    left: -42px;
}

.first-card-bg-btm,
.second-card-bg-btm,
.third-card-bg-btm {
    height: 167px;
    width: 316px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.first-card-bg-btm {
    background-color: #009091;
}
.second-card-bg-btm {
    background-color: #c94705;
}
.third-card-bg-btm {
    background-color: #005e91;
}
.first-card-bg-btm a,
.second-card-bg-btm a,
.third-card-bg-btm a {
    display: block;
    text-align: center;
    margin-left: 51px;
    width: 226px;
    height: 41px;
    text-decoration: none;
    font-weight: 500;
    color: var(--primary-text-color);
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 4px;
}
.first-card-bg-btm a:hover,
.first-card-bg-btm a:focus,
.second-card-bg-btm a:hover,
.second-card-bg-btm a:focus,
.third-card-bg-btm a:hover,
.third-card-bg-btm a:focus {
    background-color: rgba(10, 82, 102, 0.7);
    color: rgba(243, 248, 171, 0.8);
}
.second-card-bg img {
    position: absolute;
    top: 65px;
    left: -42px;
}
.second-card-bg .secondary-img {
    position: absolute;
    top: -71px;
    left: 14px;
}
.third-card-bg img {
    position: absolute;
    top: -44px;
    left: 44px;
}
/* -----------------FOOTER-SECTION--------------- */

.contact {
    width: 1200px;
    margin: 0 auto;
    background-color: #444444;
    background-image: url(../img/footerbg.jpg);
    margin-bottom: 10px;
}
.contact-title {
    font-size: 42px;
    font-weight: 500;
    line-height: 56px;
    color: var(--primary-text-color);
    padding-left: 490px;
    padding-top: 45px;
}
.contact-text {
    padding-left: 45px;
    font-size: 22px;
    color: var(--primary-text-color);
    font-weight: 500;
}
.contact h4 {
    font-size: 26px;
    padding-left: 45px;
    color: var(--primary-text-color);
}
.input-form {
    display: flex;
    flex-direction: column;
}
.input-form input::placeholder,
.input-form textarea::placeholder {
    color:#ffffff;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 10px;
}
.input-form input {
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #404040;
    border: 1px solid #7f7f7f;
    box-sizing: border-box;
    border-radius: 8px;
}
.input-form input:not(:last-child) {
    width: 360px;
    height: 53px;
    margin-left: 45px;
    margin-top: 23px;
}
.input-form textarea {
    width: 360px;
    height: 162px;
    margin-left: 45px;
    margin-top: 23px;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #404040;
    border: 1px solid #7f7f7f;
    box-sizing: border-box;
    border-radius: 8px;
}
.footer-pos {
    display: flex;
}
.right-contact-block h4 {
    padding-left: 200px;
}
.address {
    padding-left: 200px;
    padding-top: 200px;
}
.address a {
    display: flex;
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    color: var(--primary-text-color);
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
}
.phone::before,
.mail::before {
    content: "";
    display: inline-block;
    width: 31px;
    height: 31px;
    margin-right: 20px;
    background-image: url(../img/tel.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.phone::before {
    background-image: url(../img/tel.svg);
}
.mail::before {
    background-image: url(../img/mail.svg);
}
.address a:hover,
.address a:focus {
    color: var(--hover-text-color);
}
.input-form .submit-button {
    color: var(--primary-text-color);
    text-transform: uppercase;
    width: 230px;
    background: #07b89e;
    border-radius: 8px;
    margin-left: 45px;
    margin-top: 23px;
    padding: 10px 20px;
    cursor: pointer;
}
.footer-scroll {
    margin-top: 20px;
    background-color: #404040;
    display: block;
    height: 74px;
    background-image: url(../img/Vector.svg);
    background-position: center;
    background-repeat: no-repeat;
}
